* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #b91450;
    max-width: 60%;
    margin: auto;
    font-family: sans-serif;
}

h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
}

label {
    color: #b91450;
}

input,
select {
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 1px solid #b91450;
    border-radius: 5px;
}

.dati-biglietto,
.biglietto {
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 30px 0;
    margin-top: 30px;
}

.dato1,
.dato2,
.dato3 {
    display: inline-block;
    margin: 0 30px;
}

.bottoni {
    margin-top: 30px;
}

button {
    background-color: lightgray;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    color: #b91450;
    margin: 0 5px;
}

button:hover {
    border: 1px solid orange;
}

table tr th,
td {
    padding: 25px;
}

table tr th:first-child,
#nome-utente {
    background-color: gray;
}

table {
    margin: auto;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-collapse: collapse;
}

h3 {
    margin-left: 38px;
}

.biglietto {
    display: none;
    text-align: left;
}

.open {
    display: block;
}